<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 扫描service -->
    <context:component-scan base-package="com.taotao.search.service,com.taotao.search.dao"></context:component-scan>
    <!--   针对applicationContext-jedis.xml配置文件的内容有一点需要说明一下，我们看看下图，applicationContext-service.xml-->
    <!--文件配置的扫描包的范围是com.taotao.content.service，那么如果我们不指定要扫描com.taotao.jedis.service包的话，-->
    <!--能不能把JedisPool注入进来呢？答案是可以的，因为下图中<context:component-scan base-package="com.taotao.content.service"/>-->
    <!--这句配置不仅指定了一个包扫描范围，还有一个功能就是开启注解（也就是同时具备两个功能），-->
    <!--开启注解后写到Spring容器中的Bean都可以被外界成功注入。-->
    <!---->


    <!-- 使用dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="taotao-search"/>
    <dubbo:registry protocol="zookeeper" address="192.168.173.148:2181"/>
    <!--<dubbo:registry address="zookeeper://192.168.173.133:2181"></dubbo:registry>-->
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20882" />
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.taotao.search.service.SearchItemService" ref="searchItemServiceImpl" timeout="300000" />
    <dubbo:service interface="com.taotao.search.service.SearchService" ref="searchServiceImpl" timeout="300000" />

</beans>

